<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:1991/InventoryService"
                binding="netTcpBinding"
                contract="CarRental.Client.Contracts.IInventoryService"/>
      <endpoint address="net.tcp://localhost:1991/RentalService"
                binding="netTcpBinding"
                contract="CarRental.Client.Contracts.IRentalService"/>
      <endpoint address="net.tcp://localhost:1991/AccountService"
                binding="netTcpBinding"
                contract="CarRental.Client.Contracts.IAccountService"/>
    </client>

    <bindings>
      <netTcpBinding>
        <binding transactionFlow="true" maxReceivedMessageSize="2000000">
          <reliableSession enabled="true"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>